body{
    background: rgb(9, 14, 1);
}
h1{
    color:chartreuse;
    text-align: center;
    
}
.container{
    height: 500px;
    width: 750px;
    border: 2px solid red;
    margin: auto;
    margin-top: 3%;
}
.face{
    height:125px;
    width: 150px;
    background: green;
    margin: auto;
    margin-top: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.container:hover .face
{
    animation: face 2s infinite;   
}
@keyframes face
{
  0%
  {
    transform: translateX(20px);
    background: red;
  }
  25%
  {
    transform: translateX(-20px);
    background: rgb(110, 209, 80);
  }
  50%
  {
    transform: translateX(20px);
  }
  75%
  {
    transform: translateX(-20px);
  }
  100%
  {
    transform: translateX(20px);
  }
}
.container:hover .lhand
{
    animation: lhand 2s infinite;   
}
@keyframes lhand
{
  0%
  {
    transform: rotate(90deg);
    transform-origin: top center;
  }
  25%
  {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  50%
  {
    transform: rotate(90deg);
    transform-origin: top center;
  }
  75%
  {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  100%
  {
    transform: rotate(90deg);
    transform-origin: top center;
  }
}
.container:hover .rhand
{
    animation: rhand 2s infinite;   
}
@keyframes rhand
{
  0%
  {
    transform: rotate(-90deg);
    transform-origin: top center;
  }
  25%
  {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  50%
  {
    transform: rotate(-90deg);
    transform-origin: top center;
  }
  75%
  {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  100%
  {
    transform: rotate(-90deg);
    transform-origin: top center;
  }
}

.container:hover .leye
{
    animation: leye 2s infinite;   
}
@keyframes leye
{
  0%
  {
    background: blue;
  }
  25%
  {
    background: red;
  }
  50%
  {
    background: black;
  }
  75%
  {
    background: purple;
  }
  100%
  {
    background: pink;
  }
}
.container:hover .reye
{
    animation: reye 2s infinite;   
}
@keyframes reye
{
  0%
  {
    background: blue;
  }
  25%
  {
    background: red;
  }
  50%
  {
    background: blackc ;
  }
  75%
  {
    background: purple;
  }
  100%
  {
    background: pink;
  }
}
.container:hover .rleg
{
    animation: rleg 1s infinite;   
}
@keyframes rleg
{
  0%
  {
    transform: rotate(45deg);
    transform-origin: top center;
  }
  25%
  {
    transform: rotate(-45deg);
    transform-origin: top center;
  }
  50%
  {
    transform: rotate(45deg);
    transform-origin: top center;
  }
  75%
  {
    transform: rotate(-45deg);
    transform-origin: top center;
  }
  100%
  {
    transform: rotate(45deg);
    transform-origin: top center;
  }
}
.container:hover .lleg
{
    animation: lleg 1s infinite;   
}
@keyframes lleg
{
  0%
  {
    transform: rotate(-45deg);
    transform-origin: top center;
  }
  25%
  {
    transform: rotate(45deg);
    transform-origin: top center;
  }
  50%
  {
    transform: rotate(-45deg);
    transform-origin: top center;
  }
  75%
  {
    transform: rotate(45deg);
    transform-origin: top center;
  }
  100%
  {
    transform: rotate(-45deg);
    transform-origin: top center;
  }
}
.container:hover .center
{
    animation: center 0.5s infinite;   
}
@keyframes center
{
  0%
  {
    transform: rotate(360deg);
    border-radius: 50%;
    background: yellow;
  }
  25%
  {
    transform: rotate(-360deg);
    border-radius: 50%;
    background: red;
  }
  50%
  {
    transform: rotate(360deg);
    border-radius: 50%;
    background: blue;
  }
  75%
  {
    transform: rotate(-360deg);
    border-radius : 50%;
    background: pink;
  }
  100%
  {
    transform: rotate(360deg);
    border: 40%;
    background: purple;
  }
}


.eyes
{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    padding-top: 55px;
}
.leye{
    height: 25px;
    width: 25px;
    background: black;
    border-radius: 50%;
    
    
}

.reye{
    height: 25px;
    width: 25px;
    background: black;
    border-radius: 50%;
    
}
.body{
    display: flex;
    width : 250px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
}
.lhand{
    height: 85px;
    width: 23px;
    background-color: green;
    border-radius: 20%;
    

}
.center{
    height: 150px;
    width: 150px;
    background-color: green;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
.rhand{
    height: 85px;
    width: 23px;
    background-color: green;
    border-radius: 20%;
    

}
.legs{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
}
.lleg{
    height: 85px;
    width: 23px;
    background-color: green;
    border-radius: 20%;
}
.rleg{
    height: 85px;
    width: 23px;
    background-color: green;
    border-radius: 20%;
}